@import "tailwindcss";

@font-face {
  font-family: "JetBrainsMonoNF";
  src: url("./assets/fonts/JetBrainsMonoNerdFont-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "JetBrainsMonoNF", monospace;
}
